* {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    background: #222;
    color: white;
    padding: 20px;
}

.nav-links a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Hero */
.hero-section {
    background: lightblue;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img img {
    width: 200px;
    border-radius: 50%;
}

/* Work Section */
.work-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.company-card {
    display: flex;
    gap: 15px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px gray;
}
